<html>
    
    <head>
        
        <link rel="stylesheet" type="text/css" href="{{url_for('static',filename='css/bootstrap.css') }}"/>
        <link rel="stylesheet" type="text/css" href="{{url_for('static',filename='css/jumbotron-narrow.css') }}"/>
        
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js"></script>
        
        <title>Event Narwhal!</title>
        
    </head>
    
    <body>
        
        <nav class="navbar navbar-default">
            <div class="container-fluid">
                
                <!-- Brand and toggle get grouped for better mobile display -->
                <!-- need to finish translating all of this... -->
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="{{ url_for('home') }}">Event Narwhal!</a>
                </div>
                
                <!-- Collect the nav links, forms, and other content for toggling -->
                <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                    
                    <!-- standard navbar links, aligned left -->
                    <ul class="nav navbar-nav">
                        
                        <!-- this is how we signify which tab you're on <li class="active"><a href="#">Login <span class="sr-only">(current)</span></a></li> -->
                        <!-- still not quite sure what span class="sr-only" is doing -->
                        
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">My Events<span class="caret"></span></a>
                            <ul class="dropdown-menu" role="menu">
                                <!-- for loop code here -->
                            </ul>
                        </li>
                        <li><a href="{{ url_for('home') }}">New Event</a></li>
                    </ul>
                    
                    <!-- login link, aligned right -->
                    <ul class="nav navbar-nav navbar-right">
                        <li><a href="{{ url_for('home') }}">Settings</a></li>
                        <li><a href="{{ url_for('logout') }}">Logout</a></li>
                    </ul>
                    
                </div><!-- /.navbar-collapse -->
            </div><!-- /.container-fluid -->
        </nav>
        
        {% block bodycontent %}
        
        {% endblock bodycontent %}
        
    </body>
    
</html>