{% extends "base.html" %}

{% block bodycontent %}

<div class="container">
    
    <!-- name/description -->
    <div class="row">
        
        <div class="panel panel-info">
            
            <div class="panel-heading">
                <center>
                    <h1>{{ event[ "name" ] }}</h1>
                </center>
            </div> <!-- /panel-heading -->
            
            <div class="panel-body">
                <center>
                    
                    {{ event[ "description" ] }}
                    
                </center>
            </div> <!-- /panel-body -->
            
        </div> <!-- /panel -->
        
    </div> <!-- /row -->
    
    <!-- attending/maybe/declined/no_response -->
    <div class="row">
        
        <div class="col-md-3">
            
            <div class="panel panel-info">
                
                <div class="panel-heading">
                    <center>
                        Attending
                    </center>
                </div> <!-- /panel-heading -->
                
                <div class="panel-body">
                    {% if event["attending"] != None %}
                    <ul>
                        {% for name in event["attending"] %}
                        <li>{{ name }}</li>
                        {% endfor %}
                    </ul>
                    {% else %}
                    None
                    {% endif %}
                </div> <!-- /panel-body -->
                
            </div> <!-- /panel -->
            
        </div> <!-- /col -->
        
        <div class="col-md-3 col-md-3-offset-3">
            
            <div class="panel panel-warning">
                
                <div class="panel-heading">
                    <center>
                        Maybe
                    </center>
                </div> <!-- /panel-heading -->
                
                <div class="panel-body">
                    {% if event["maybe"] != None %}
                    <ul>
                        {% for name in event["maybe"] %}
                        <li>{{ name }}</li>
                        {% endfor %}
                    </ul>
                    {% else %}
                    None
                    {% endif %}
                </div> <!-- /panel-body -->
                
            </div> <!-- /panel -->
            
        </div> <!-- /col -->
        
        <div class="col-md-3 col-md-3-offset-6">
            
            <div class="panel panel-danger">
                
                <div class="panel-heading">
                    <center>
                        Declined
                    </center>
                </div> <!-- /panel-heading -->
                
                <div class="panel-body">
                    {% if event["declined"] != None %}
                    <ul>
                        {% for name in event["declined"] %}
                        <li>{{ name }}</li>
                        {% endfor %}
                    </ul>
                    {% else %}
                    None
                    {% endif %}
                </div> <!-- /panel-body -->
                
            </div> <!-- /panel -->
            
        </div> <!-- /col -->
        
        <div class="col-md-3 col-md-3-offset-9">
            
            <div class="panel panel-default">
                
                <div class="panel-heading">
                    <center>
                        No Response
                    </center>
                </div> <!-- /panel-heading -->
                
                <div class="panel-body">
                    {% if event["not-responded"] != None %}
                    <ul>
                        {% for name in event["not-responded"] %}
                        <li>{{ name }}</li>
                        {% endfor %}
                    </ul>
                    {% else %}
                    None
                    {% endif %}
                </div> <!-- /panel-body -->
                
            </div> <!-- /panel -->
            
        </div> <!-- /col -->
        
    </div> <!-- /row -->
    
    <div class="row">
        
        <!-- yummly -->
        <div class="col-md-6">
            
            <div class="panel panel-warning">
                
                <div class="panel-heading">
                    <center>
                        <h3 class="panel-title">Yummly</h3>
                    </center>
                </div> <!-- /panel-heading -->
                
                <div class="panel-body">
                    <center>
                        
                        <!-- /<a href="http://www.yummly.com/recipe/{{ event['food'] }}"> Check out {{ event["food"].split("-")[: event["food"].split("-")|length -1]|join(" ")}} on Yummly</a> -->
        
<object data="http://www.yummly.com/recipe/{{ event['food'] }}" width="inherit" height="400"> <embed src="http://www.yummly.com/recipe/{{ event['food'] }}" width="inherit" height="400"> </embed> Error: Embedded data could not be displayed. </object>
                    </center>
                </div> <!-- /panel-body -->
                
            </div> <!-- /panel -->
            
        </div> <!-- /col -->
        
        <!-- 8tracks -->
        <div class="col-md-offset-6">
            
            <div class="panel panel-primary">
                
                <div class="panel-heading">
                    <center>
                        <h3 class="panel-title">8tracks</h3>
                    </center>
                </div> <!-- /panel-heading -->
                
                <div class="panel-body">
                    <center>
                        
                        <iframe src="{{ event['8tracks'] }}" width="300" height="300" style="border: 0px none;"></iframe>
                        
                        <!--
                         <p class="_8t_embed_p" style="font-size: 11px; line-height: 12px;"><a href="?utm_medium=trax_embed">{{mixTitle}}</a> from <a href="?utm_medium=trax_embed">{{mixDJ}}</a> on <a href="http://8tracks.com?utm_medium=trax_embed">8tracks Radio</a>.</p>
                         -->
                        
                    </center>
                </div> <!-- /panel-body -->
                
            </div> <!-- /panel -->
			
            <div class="panel panel-primary">
                
                <div class="panel-heading">
                    <center>
                        <h3 class="panel-title">To Do List</h3>
                    </center>
                </div> <!-- /panel-heading -->
                
                <div class="panel-body">
                    <center>
                        
					    	<input type="text" class= 'form-control'style="width:25%" id="new item" placeholder="to-do item"><br>
					      <button id= "add" class='btn btn-warning'name="add" type="submit">Add Item</button>
					  <h4>To Do</h4>
					  <div class= "container">
					  		<ul style=".grey{ color: grey;}.active:hover{color:green,font-weight:bold;}" id= "to_do"></ul>
					  </div>

					  <h4>Done</h4>
					  <div class= "container">

					  <ul style=".grey{ color: grey;}.active:hover{color:green,font-weight:bold;}" id="done"></ul>
					  </div>
					  </div>
					  <script src="todo.js"></script>
                        
                    </center>
					<script>
					var button =document.getElementById("add");

					var removeItem =function(e){
						var todo = document.getElementById("to_do");
						var done = document.getElementById("done");
						this.classList.add("grey");
						this.classList.remove("active");
						this.children[0].disabled=true;
						this.children[0].checked=true;
						done.appendChild(this);

					};

					var addItem = function(e){
						console.log("add item")
					    var todo = document.getElementById("to_do");
						var newitem = document.createElement('li');
						newitem.classList.add("active");
						newitem.innerHTML= "<input type='checkbox''> "+document.getElementById("new item").value
						newitem.addEventListener('click',removeItem)
						todo.appendChild(newitem);
					};

					button.addEventListener('click',addItem);
					</script>
                </div> <!-- /panel-body -->
                
            </div> 
            
        </div> <!-- /col -->
        
    </div> <!-- /row -->
    
    <!-- edit/delete buttons -->
    
    <div class="row">
        
        <div class="col-md-6">
            
            <a href="/settings/{{index}}">
                <button class="btn btn-info btn-lg">
                    Edit Event
                </button>
            </a>
            
        </div> <!-- /col -->
        
        <div class="col-md-offset-6">
            
            <a>
            <button class="btn btn-danger btn-lg">
                Delete Event
            </button>
            </a>
            <a href = "{{index}}/update">
            <input type= "button" class="btn btn-danger btn-lg" value="Update Info from facebook">
            
            </a>
            
        </div> <!-- /col -->
        
    </div> <!-- /row -->
    
</div> <!-- /container -->

{% endblock bodycontent %}
