{% extends "base.html" %}

{% block bodycontent %}

<div class="container">
    
    <!-- name/description -->
    <div class="row">
        
        <div class="panel panel-info">
            
            <div class="panel-heading">
                <center>
                    <h1>{{ event[ "name" ] }}</h1>
                </center>
            </div> <!-- /panel-heading -->
            
            <div class="panel-body">
                <center>
                    
                    {{ event[ "description" ] }}
                    
                </center>
            </div> <!-- /panel-body -->
            
        </div> <!-- /panel -->
        
    </div> <!-- /row -->
    
    <!-- attending/maybe/declined/no_response -->
    <div class="row">
        
        <div class="col-md-3">
            
            <div class="panel panel-info">
                
                <div class="panel-heading">
                    <center>
                        Attending
                    </center>
                </div> <!-- /panel-heading -->
                
                <div class="panel-body">
                    
                </div> <!-- /panel-body -->
                
            </div> <!-- /panel -->
            
        </div> <!-- /col -->
        
        <div class="col-md-3 col-md-3-offset-3">
            
            <div class="panel panel-warning">
                
                <div class="panel-heading">
                    <center>
                        Maybe
                    </center>
                </div> <!-- /panel-heading -->
                
                <div class="panel-body">
                    
                </div> <!-- /panel-body -->
                
            </div> <!-- /panel -->
            
        </div> <!-- /col -->
        
        <div class="col-md-3 col-md-3-offset-6">
            
            <div class="panel panel-danger">
                
                <div class="panel-heading">
                    <center>
                        Declined
                    </center>
                </div> <!-- /panel-heading -->
                
                <div class="panel-body">
                    
                </div> <!-- /panel-body -->
                
            </div> <!-- /panel -->
            
        </div> <!-- /col -->
        
        <div class="col-md-3 col-md-3-offset-9">
            
            <div class="panel panel-default">
                
                <div class="panel-heading">
                    <center>
                        No Response
                    </center>
                </div> <!-- /panel-heading -->
                
                <div class="panel-body">
                    
                </div> <!-- /panel-body -->
                
            </div> <!-- /panel -->
            
        </div> <!-- /col -->
        
    </div> <!-- /row -->
    
    <div class="row">
        
        <!-- yummly -->
        <div class="col-md-6">
            
            <div class="panel panel-warning">
                
                <div class="panel-heading">
                    <center>
                        <h3 class="panel-title">Yummly</h3>
                    </center>
                </div> <!-- /panel-heading -->
                
                <div class="panel-body">
                    <center>
                        
                        <!-- {{ event["food"] }} -->
                        
                    </center>
                </div> <!-- /panel-body -->
                
            </div> <!-- /panel -->
            
        </div> <!-- /col -->
        
        <!-- 8tracks -->
        <div class="col-md-offset-6">
            
            <div class="panel panel-primary">
                
                <div class="panel-heading">
                    <center>
                        <h3 class="panel-title">8tracks</h3>
                    </center>
                </div> <!-- /panel-heading -->
                
                <div class="panel-body">
                    <center>
                        
                        <iframe src="{{ event[8tracks] }}" width="400" height="400" style="border: 0px none;"></iframe>
                        
                        <!--
                         <p class="_8t_embed_p" style="font-size: 11px; line-height: 12px;"><a href="?utm_medium=trax_embed">{{mixTitle}}</a> from <a href="?utm_medium=trax_embed">{{mixDJ}}</a> on <a href="http://8tracks.com?utm_medium=trax_embed">8tracks Radio</a>.</p>
                         -->
                        
                    </center>
                </div> <!-- /panel-body -->
                
            </div> <!-- /panel -->
            
        </div> <!-- /col -->
        
    </div> <!-- /row -->
    
    <!-- edit/delete buttons -->
    
    <div class="row">
        
        <div class="col-md-6">
            
            <a href="{{ url_for('settings') }}">
                <button class="btn btn-info btn-lg">
                    Edit Event
                </button>
            </a>
            
        </div> <!-- /col -->
        
        <div class="col-md-offset-6">
            
            
            <button class="btn btn-danger btn-lg">
                Delete Event
            </button>
            </a>
            
        </div> <!-- /col -->
        
    </div> <!-- /row -->
    
</div> <!-- /container -->

{% endblock bodycontent %}
