{% extends "base.html" %}
{% block bodycontext %}

<div class="jumbotron container">
    <center>
        <h1>Find Recipes for your Party</h1>
        
        <h2>
            <form action="/results" method ="GET">
                <select name="mymenu">
                    <option value="cusine"> Cusine </option>
                    <option value="holiday"> Holiday </option>
                    <option value="ingredient"> Ingredients </option>
                </select>
                
                
                <div class="form-group has-error" style="margin: 20px">
                    <label class="control-label">
                        Find Recipes:
                    </label>
                    
                    <input class="form-control" type="text" name="search" placeholder="Enter the ingredients, cuisine, or holiday you are looking for"/>
                    
                    <br/>
                    
                    <button type="submit" href="syd.html" name= "submit" class="btn btn-lg btn-danger"  onClick="return popup(this, 'notes')">
                        Submit
                    </button>
                    
                </div> <!-- /form-group -->
            </form>
        </h2>
        
    </center>
</div> <!-- /jumbotron -->

{% endblock bodycontext %}
