{% extends "base.html" %}
{% block bodycontent %}

<div id="fb-root"></div>

<!--Jquery-->
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
<script>window.jQuery || document.write('<script src="{{
  url_for('static', filename='jquery.js') }}">\x3C/script>')</script>

<!-- sets global var to prefix to root of app (lets us know where app is-->
<script type=text/javascript>
  $SCRIPT_ROOT = {{ request.script_root|tojson|safe }};
</script>



<!--FB login-->
<script> src="login.js"
</script>






<div class= "jumbotron container">
  <center>
    <h1> Welcome to Event-Narwhal </h1>
    <div class="fb-login-button" onlogin=data-max-rows="1" data-size="xlarge" data-show-faces="false" data-auto-logout-link="false"> Log In With Facebook</div>
  </center>
</div>

{%endblock bodycontent %}
