{% extends "base.html" %}

{% block logoutlink %}
<br>Log out <a href="{{ url_for('logout') }}">here</a>!
{% endblock logoutlink %}

{% block bodycontent %}

<br>

<div class="container">
    
    <div class="panel panel-primary">
        
        <div class="panel-heading">
            <center><h3>Login!<span class="label label-danger">Not Available At This Time</span></h3></center>
        </div>
        
        <div class="panel-body form-group">
            <form method="POST" action="/login">
                <input type="text" class="form-control" name="user" placeholder="Username" disabled>
                <br>
                <input type="password" class="form-control uneditable-input" name="password" placeholder="Password" disabled>
                <br>
                <center>
                    <button type="submit" name="button_login" class="btn btn-default btn-primary">Login!</button>
                </center>
            </form>
        </div>
        
        <div class="panel-footer">
            <!-- this should link through to facebook probably -->
            <a href="{{ url_for('register') }}">Please log in with Facebook instead!</a>
        </div>
        
    </div>
    
</div>


{% endblock bodycontent %}
