{% extends "base.html" %}

{% block bodycontent %}

<center><h2>Are you sure you want to log out?</h2></center>

<br>
<br>

<div class="container">
    
    <div class="form-group">
        <form action="/">
            
            <center>
                <button type="submit" name="button_logout" class="btn btn-danger">
                    Log out!
                </button>
            </center>
            
        </form>
    </div> <!-- /form-group -->

</div> <!-- /container -->

{% endblock bodycontent %}
