{% entends base.html %}

{% block bodycontent %}

<!-- will need to for loop here so all events have their own panel -->

<div class="panel panel-danger">
    <div class="panel-heading">
        <h3 class="panel-title">[ Event 1 Name ]</h3>
    </div>
    <div class="panel-body">
        [ Event 1 Description ]
    </div>
</div>

<div class="panel panel-danger">
    <div class="panel-heading">
        <h3 class="panel-title">[ Event 2 Name ]</h3>
    </div>
    <div class="panel-body">
        [ Event 2 Description ]
    </div>
</div>

{% endblock bodycontent %}