{% extends "base.html" %}

{% block bodycontent %}

<form class= "form-inline form-group">
	<input type = "text"class = "form-control" placeholder = "{{placeholder}}" name="query"/>
	{% if placeholder == "Search yummly for recipies..." %}
	<select class= "form-control" name="type"style="width:20%">
		<option value="ingredients">Search by...</option>
		<option value="ingredients">Ingredients</option>
		<option value="cuisine"/>Cuisine</option>
		<option value="holiday">Holiday</option>
	</select>
	{%endif%}
		<button type="submit"class= "btn btn-warning">Search</button>
</form>
	{% if results != None %}
	    {% for result in results %}
	        <div class="media container">
            
	            <h3><a href="/recipe/{{result['id']}}">{{result["recipeName"]}}</a></h3>
	            <div class="row container">
					{% if "smallImageUrls" in result.keys() %}
	                <div class="col-md-1"> <img src="{{result["smallImageUrls"][0]}}"> </div>
					{%else %}
					 <div class="col-md-1"> <img src="http://lorempixel.com/90/65/animals/sorry"> </div>
					{% endif %}
				
	            <div class="col-md-8">
	                <strong>Source:</strong> {{result["sourceDisplayName"]}}<br>
	                <strong>Rating:</strong> {{result["rating"]}}<br>
	                <strong>Ingredients:</strong> {{", ".join(result["ingredients"])}}</div>
            
	            </div>
                
	        </div>
	    <br>
	    {% endfor %}
	{%endif %}
		
{%endblock bodycontent %}
