{% extends "base.html" %}

{% block bodycontent %}

<div class="container">
    
    <div class="row">
  
        <!-- pull event from facebook -->
        <div class="col-md-6">
            
            <div class="panel panel-primary">
                
                <div class="panel-heading">
                    <center>
                        <h3 class="panel-title">Pull event from Facebook</h3>
                    </center>
                </div> <!-- /panel-heading -->
                
                <div class="panel-body">
                    <center>
                        
                       {% for event in facebook_events %}
					   		{{event["name"]}}
							{%endfor%}
                        
                    </center>
                </div> <!-- /panel-body -->
                
            </div> <!-- /panel -->
            
        </div> <!-- /col -->
        
        <!-- enter theme -->
		<script>
		function popup(url) {
		    var myWindow = window.open(url, "Options", "width=500, height=500");
		}
		</script>
		
        <div class="col-md-offset-6">
            
            <div class="panel panel-warning">
                
                <div class="panel-heading">
                    <center>
                        <h3 class="panel-title">Enter a theme</h3>
                    </center>
                </div> <!-- /panel-heading -->
                
                <div class="panel-body">
                    <center>
                        
                        <form>
                            <div class="form-group" action=>
                                
                                <input type="text" class="form-control" id="theme" placeholder="Birthday, baby shower, club initiation..."/>
                                <br/>
                                <button type="submit" class="btn btn-warning">Enter</button>
                                
                            </div> <!-- /form-group -->
                        </form>
                        
                    </center>
                </div> <!-- /panel-body -->
                
            </div> <!-- /panel -->
            
        </div> <!-- /col -->
        
        
    </div> <!-- /row -->
    
    
    <div class="row">
        
        <!-- keyword(s?) for yummly -->
        <div class="col-md-6">
            
            <div class="panel panel-warning">
                
                <div class="panel-heading">
                    <center>
                        <h3 class="panel-title">Yummly</h3>
                    </center>
                </div> <!-- /panel-heading -->
                
                <div class="panel-body">
                    <center>
                        
                        <form>
                            <div class="form-group">
                                
                                <input type="text" class="form-control" id="yumquery" placeholder="Christmas, french, cookies..."/>
                                <br/>
                                <button type="submit" class="btn btn-warning">Search</button>
                                
                            </div> <!-- /form-group -->
                        </form>
                        
                    </center>
                </div> <!-- /panel-body -->
                
            </div> <!-- /panel -->
            
        </div> <!-- /col -->
        
        <!-- keyword for 8tracks -->
        <div class="col-md-offset-6">
            
            <div class="panel panel-primary">
                
                <div class="panel-heading">
                    <center>
                        <h3 class="panel-title">8tracks</h3>
                    </center>
                </div> <!-- /panel-heading -->
                
                <div class="panel-body">
                    <center>
                        
                        <form>
                            <div class="form-group">
                                
                                <input type="text" class="form-control" id="8query" placeholder="Punk rock, manatees, rain..."/>
                                <br/>
                                <button type="submit" class="btn btn-primary">Search</button>
                                
                            </div> <!-- /form-group -->
                        </form>
                        
                        <!-- Miranda's code
                         
                         <form id="8tracks_form" method="GET" action="/8tracks_search">
                         <button type="submit" name="next" class="btn btn-primary">Next Mix!</button>
                         </form>
                         <script>
                         var formelements = document.getElementById("8tracks_form");
                         formelements.setAttribute("action","/8tracks");
                         formelements.setAttribute("target","8tracks");
                         exportwindow = window.open("/8tracks?param='param'", "bugsme", "width=800,height=600,resizable=yes");
                         
                         formelements.submit();
                         </script>
                         <a href="http://127.0.0.1:5000/"><button class="btn btn-primary">Return To Search</button></a>
                         
                         end of Miranda's code-->
                        
                    </center>
                </div> <!-- /panel-body -->
                
            </div> <!-- /panel -->
            
        </div> <!-- /col -->
        
    </div> <!-- /row -->
    
</div> <!-- /container -->

{% endblock bodycontent %}
