{% extends "base.html" %}

{% block bodycontent %}

<div class="container">
  <form method = "POST">
    <center>
    <input type="text" name="name" class="form-control input-lg" placeholder="Event Name"> <br/>
</center>
    <div class="row">
        <!-- pull event from facebook -->
        <div class="col-md-6">
            
            <div class="panel panel-primary">
                
                <div class="panel-heading">
                    <center>
                        <h3 class="panel-title">Pull event from Facebook</h3>
                    </center>
                </div> <!-- /panel-heading -->

                <div class="panel-body">
                    <center>
                        <select  class= "form-control input-lg"name="fb_event">
			  {% for event in facebook_events %}
			  <option value ="{{event[id]}}">{{event["name"]}}</option>
			{%endfor%}
			</select>

                    </center>
                </div> <!-- /panel-body -->
                
            </div> <!-- /panel -->
            
        </div> <!-- /col -->
        
        <!-- enter theme -->
		<script>
		function popup(url) {
		    var myWindow = window.open(url, "Options", "width=500, height=500");
		}
		</script>
		
        <div class="col-md-offset-6">
            
            <div class="panel panel-warning">
                
                <div class="panel-heading">
                    <center>
                        <h3 class="panel-title">Enter a theme</h3>
                    </center>
                </div> <!-- /panel-heading -->
                
                <div class="panel-body">
                    <center>
                        
                            <div class="form-group">    
                              <input type="text" class="form-control" id="theme" placeholder="Birthday, baby shower, club initiation..."/>
                            </div> <!-- /form-group -->
                        
                    </center>
                </div> <!-- /panel-body -->
                
            </div> <!-- /panel -->
            
        </div> <!-- /col -->
        
        
    </div> <!-- /row -->
    
    
    <div class="row">
        
        <!-- keyword(s?) for yummly -->
        <div class="col-md-6">
            
            <div class="panel panel-warning">
                
                <div class="panel-heading">
                    <center>
                        <h3 class="panel-title">Yummly</h3>
                    </center>
                </div> <!-- /panel-heading -->
                
                <div class="panel-body">
                    <center>
                        
                        
                            <div class="form-group">
                                
                              
                                <button type="submit" class="btn btn-warning">Pick a recipe off yummly</button>
                                
                            </div> <!-- /form-group -->
                        
                    </center>
                </div> <!-- /panel-body -->
                
            </div> <!-- /panel -->
            
        </div> <!-- /col -->
        
        <!-- keyword for 8tracks -->
        <div class="col-md-offset-6">
            
            <div class="panel panel-primary">
                
                <div class="panel-heading">
                    <center>
                        <h3 class="panel-title">8tracks</h3>
                    </center>
                </div> <!-- /panel-heading -->
                <div class="panel-body">
                    <center>
                            <div class="form-group">
                                <br/>
                                <button type="submit" class="btn btn-primary">Search for a Mix on 8tracks</button>
                            </div> <!-- /form-group -->
						
                        
                        <!-- Miranda's code
                         
                         <form id="8tracks_form" method="GET" action="/8tracks_search">
                         <button type="submit" name="next" class="btn btn-primary">Next Mix!</button>
                         </form>
                         <script>
                         var formelements = document.getElementById("8tracks_form");
                         formelements.setAttribute("action","/8tracks");
                         formelements.setAttribute("target","8tracks");
                         exportwindow = window.open("/8tracks?param='param'", "bugsme", "width=800,height=600,resizable=yes");
                         
                         formelements.submit();
                         </script>
                         <a href="http://127.0.0.1:5000/"><button class="btn btn-primary">Return To Search</button></a>
                         
                         end of Miranda's code-->
                        
                    </center>
                </div> <!-- /panel-body -->
                
            </div> <!-- /panel -->
            
        </div> <!-- /col -->
        
    </div> <!-- /row -->
    <center>
<button type= "submit" class= "btn btn-warning">Update Event!</button>
</center>
    </form>
</div> <!-- /container -->

{% endblock bodycontent %}
